<% video = VideoDecorator.decorate(list_item) %>

<div class="row">
  <div class="span2">
    <%= video.thumbnail %>
  </div>
  <div class="span8">
    <h3><%= video.link %></h3>
    <p>Published: <%= video.publication %><br /> Price: <%= video.price.format %></p>
  </div>
  <div class="span2">
    <%= video.link_button %>
    <%= video.edit_button %>
  </div>
</div>
